@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");

body {
  font-family: "Raleway";
  margin: 0;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: end;
  background: orange;
  position: fixed;
  width: 100vw;
  z-index: 50;
}
.nav__checkbox {
  display: none;
}
.nav__icon {
  cursor: pointer;
}
.nav__img {
  display: none;
  padding-right: 15px;
}
.burger {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-100%) translateX(100%);
  transition: 0.6s;
  background: orange;
  width: 100vw;
  z-index: 25;
}
.a-burger {
  display: none;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: black;
  margin: 5px 20px;
  font-size: 1.5rem;
  text-shadow: none;
  transition: 0.4s;
}
.a-burger:hover {
  text-shadow: 2px 2px 8px black;
}
.a-nav {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: black;
  margin: 5px 20px;
  font-size: 1.5rem;
  text-shadow: none;
  transition: 0.4s;
}

.a-nav:hover {
  text-shadow: 2px 2px 8px black;
}

.spiderSorpresa {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 100;
  transform: translateY(-100%);
  transition: 0.4s;
  filter: drop-shadow(5px -5px 5px rgb(158, 2, 2));
}

.navbar:hover ~ .spiderSorpresa {
  transform: translateY(-5%);
}

#welcome-section {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 6rem;
  margin-bottom: 0;
  animation: entrada 1.4s ease forwards;
  transform: translate(-100%);
}
@keyframes entrada {
  to {
    transform: translate(0);
  }
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  color: white;
}
.subtitulo {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: orange;
  animation: entrada 1.4s ease forwards;
  transform: translate(200%);
}
@keyframes entrada {
  to {
    transform: translate(0);
  }
}

#projects {
  width: 100%;
  height: 100%;
}
#certificados {
  width: 100%;
  height: 100%;
}
.project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  margin-top: 120px;
  font-size: 3.1rem;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.4em;
  text-shadow: 5px 5px 50px rgba(255, 255, 255, 0.562);
}
.conteiner-cards {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1360px;
}
.card {
  background: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.8s;
  width: 400px;
  height: 270px;
}
.img-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.profile-link {
  position: absolute;
  background: rgba(255, 166, 0, 0.281);
  border-radius: 20px;
  bottom: 0;
  transform: translateY(115%);
  transition: 0.6s, background-color 1s;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 5px 10px;
  margin: 5px;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .profile-link {
  transform: translateY(0);
  background-color: orange;
}

#showAll {
  padding: 15px 25px;
  border-radius: 15px;
  color: orange;
  z-index: 1;
  background: #3a3d40;
  position: relative;
  text-decoration: none;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 4px 8px 19px -3px rgb(7, 7, 7);
  box-shadow: 4px 8px 19px -3px rgba(80, 80, 80, 0.322);
  transition: all 250ms;
  overflow: hidden;
}

#showAll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: orange;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

#showAll:hover {
  color: #3a3d40;
}

#showAll:hover::before {
  width: 100%;
}

.desing {
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.cont-redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-redes .icon-content {
  margin: 0 10px;
  position: relative;
}
.cont-redes .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.cont-redes .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.cont-redes .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.cont-redes .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.cont-redes .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.cont-redes .icon-content a:hover {
  color: white;
}
.cont-redes .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.cont-redes .icon-content a:hover .filled {
  height: 100%;
}

.cont-redes .icon-content a[data-social="linkedin"] .filled,
.cont-redes .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.cont-redes .icon-content a[data-social="github"] .filled,
.cont-redes .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.cont-redes .icon-content a[data-social="instagram"] .filled,
.cont-redes .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.cont-redes .icon-content a[data-social="whatsapp"] .filled,
.cont-redes .icon-content a[data-social="whatsapp"] ~ .tooltip {
  background-color: #25d366;
}
@media screen and (max-width: 680px) {
  .a-nav {
    display: none;
  }
  .a-burger {
    display: block;
  }
  .nav__img {
    display: block;
  }
  .nav__checkbox:checked + .burger {
    transform: translateY(26%) translateX(0);
  }
  .card {
    width: 200px;
    height: 175px;
  }
  .profile-link {
    font-size: 15px;
  }
  .subtitulo .desing {
    font-size: 1rem;
  }
  #showAll {
    font-size: 1rem;
  }
}
/* width: 400px;
  height: 350px; */

@media screen and (max-width: 780px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .subtitulo {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }
}
